html, body, div, span, object, iframe, p, blockquote, a, abbr, acronym, address, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'Trebuchet MS', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size:   10pt;
  line-height: 1.4; color:#111
}
table.listing-table, table.listing-table td, table.listing-table td  * { font-size: 9pt } 
table.listing-table 	{ margin: auto; float:none; }
div			{ font: 10pt 'Trebuchet MS', sans-serif; line-height: 1.4; color:#333 }
a			{ text-decoration:none }
a			{ color: #222244; font-weight: bold }
a:visited		{ color: #442244 }
a:hover			{ color: #222288; background-color: #f8f8d0}
a:focus			{ color: #882222 }
hr			{ margin: 2.5em 0 1em 0; border: 1px solid #ccc }
hr, br			{ clear:both}
p, ul			{ margin : 0 }
p			{ margin-top: 1em }
td			{ padding: 2px 6px }
th			{ background-color: #eee;    padding: 1em 10px;		  text-align: center }
th.chunk		{ background-color: inherit; padding: 1.25em 10px 0.25em; text-align: left;  }
div.centered    	{ margin: auto }
td.lat, td.lng  	{ display: none }
td.red			{ background-color: #fff4f4}
td.blue 		{ background-color: #f4f4ff}
td.gray 		{ background-color: #fafafa}
td.none 		{ background-color: inherit }	
h1			{ text-align: center }
div.endorsementmap	{ margin:auto; width:1000px; min-height:564px; background:'pix/county04_map.png' }
