/.#
.\#*
.#*
*~
\#*
actionmailer_config_DONOTVERSION.rb
.bzr
/**/cache/*
*DONOTVERSION*
.DS_Store
.hg
Icon?
instiki/*
/log/*.log
log/searchd*.pid
*.org
.project
.pydevproject
REVISION
.settings
.svn
TAGS*
.tasks-cache
tmp/*
*.tmproj
TODO (Autosaved).taskpaper
nohup.out
pig_*.log
