Icon?
.DS_Store
TAGS
REVISION
*.tmproj
.settings
.project
.tasks-cache
.svn
/log/*.log
/tmp/**/*
/config/database.yml
actionmailer_config_DONOTVERSION.rb
*DONOTVERSION*
/vendor/src/**/*
/db/*.sqlite*
/public/ac/*
/coverage
/doc/app
/doc/api
/doc/*
/doc/plugins
.bzr
TODO (Autosaved).taskpaper
log/searchd*.pid
/db/sphinx
config/development.sphinx.conf
\#*
.\#*
/.#
.hg
.pydevproject
